<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685561116755-6c6nmqcpu413q38ah78jafjnp9q2vo5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685561116755-6c6nmqcpu413q38ah78jafjnp9q2vo5v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685561116755-9s0offckvtuuv383daqt1pgc9r5oku1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAirYW5Z-TjZVWX1PM2xldsn5PqcsJqQik</string>
	<key>GCM_SENDER_ID</key>
	<string>685561116755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeromepalcios.DreamDiary</string>
	<key>PROJECT_ID</key>
	<string>dream-diary-mm9023</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-diary-mm9023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685561116755:ios:2b0b6decaf50de42622ea6</string>
</dict>
</plist>